<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <h2>Hello [[prop1]]!</h2>

    <div class="container">
      <div class="row">
        <img src="https://image.flaticon.com/icons/svg/185/185988.svg" class="col-lg-8 col-xs-12">
        <button type="button" class="btn btn-danger col-lg-4 col-xl-12" name="button" on-click="incrementar">Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}">
        <table class="table table-striped">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
          </thead>
          <tbody>
            <tr>
              <td>[[prop2]]</td>
              <td>[[prop1]]</td>
              <td>Rodriguez</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Juan</td>
              <td>Gonzalez</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2:{
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }
      incrementar(){
        this.prop2 = this.prop2 + 1;
        console.log(this.prop1);
        console.log(this.prop2);

      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
